<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My welcom page</title>
</head>
<body>
<h1>First impression of my page</h1>
<!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<span th:text="${variable}"></span>

<br/>
<!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<!--<span th:text="${one} +${two}"></span>-->

<br/>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<!--/*@thymesVar id="multiply" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<span th:text="${multiply}"></span>
<span th:text="${two * two}"></span>
<br/>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<!--/*@thymesVar id="multiply+" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<span th:text="${multiply}"></span>
<!--<span th:text="${two}*${two}+${two}"></span>-->

<br/>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<!--/*@thymesVar id="-multiply" type="com.crud.tasks.controller.StaticWebPagesController"*/-->
<!--<span th:text="${-multiply}"></span>-->
<!--<span th:text="${two}-${two}*${two}"></span>-->

</body>
</html>